body {
  background-image: url("https://res.cloudinary.com/fabianuzukwu/image/upload/v1569531046/team%20britomartis/eordnce8xjl16nws3ftz.jpg");
}

.table thead th {
  border-bottom: 2px solid #09598e;
}

.table th,
.table td {
  padding: 0.75rem;

  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.category {
  font-weight: bolder;
}

.myControl {
  width: 100px;
}

.mytotal {
  width: 150px;
  margin-left: 1rem;
}
.mybutton {
  border-radius: 50%;
  box-shadow: 0px 0px 3px 1px #000000;
}

.mainbody {
  position: absolute;
  top: 25%;
  right: 25%;
  left: 25%;
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px #000000;
}

@media screen and (max-width: 400px) {
  .mainbody {
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
  }

  .down-text {
    text-align: center;
  }

  .down-text .btn-cal {
    margin-top: 0.75em;
  }

  .mytotal {
    margin-left: 5rem;
  }

  .category {
    width: 10rem;
  }
}
