
     

      body {
      font-family: Paytone One, Helvetica, sans-serif;
      }
      
      #feedbackPopup {
      display: none; 
      position: fixed; 
      z-index: 1; 
      padding-top: 100px; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
      }
    
      .open-btn {
      display: flex;
      margin-left: 150px;
     align-items: center;
      }
    
      .open-button {
      background-color: #09598E;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      opacity: 0.8;
      }
     
      .form-popup {
      border: 2px solid #666;
      z-index: 9;
      max-width: 300px;
      margin: 0 auto;
      }
     
      .form-container {
      max-width: 300px;
      padding: 20px;
      background-color: #fff;
      }

      .form-container h4 {
        text-align: center;
      }

      .form-container strong {
        margin-left: 3px;
      }
     
      .form-container input[type=text] {
      width: 100%;
      padding: 10px;
      margin: 5px 0 22px 0;
      border: none;
      background: #eee;
      }
     
      .form-container input[type=text]:focus {
      background-color: #ddd;
      outline: none;
      }
     
      .form-container .btn {
      background-color: #09598E;
      color: #fff;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
      }
     
      .form-container .cancel {
      background-color: #cc0000;
      border-radius: 5px;
      }
     
      .form-container .btn:hover, .open-button:hover {
      opacity: 1;
      }

      textarea {
      height: 70px;
      width: 100%;
      padding: 5px;
      margin: 5px 0 20px 0;
      border: none;
      background: #eee;
    }
