body{
	background-image: url(https://res.cloudinary.com/dcoqt2wpo/image/upload/v1569313545/coins-4421639_1_21_nwagbt.png);
	background-size: cover;
	min-height: 999px;
	background-repeat: no-repeat;
	position: relative;
}
.container{
	width: 450px;
	height: 600px;
	/* box-shadow: */
	padding: 50px;
	box-sizing: border-box;
	background-color: white;
	display: inline-block;
	box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.35), 4px -4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

input[type=text]:focus,
[type=submit]:focus{
 outline:none;
}

input[type=text]{
	width: 300px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.btn{
	background-color: #09598E;
	width: 200px;
	height: 40px;
	border:none;
	border-radius: 10px;
	font-family: Paytone One;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	color: white;
	cursor: pointer;
	padding: 5px;
}

.btn:hover{
		background: white;
	letter-spacing: 1px;
	color: #09598E;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);	
	transition: all 0.4s ease 0s;
}
.account{
	margin-top: -80px;
	color: #7D7979;
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
}
a.sign:link{
	text-decoration: none;
	color:#09598E;
}
@media  (width: 360px) and (height: 640px){
	.container{
		width:300px;
		height: 520px;
	}
	img{
		width: 120px;
		height: 50px;
	}
	input[type=text]{
	width: 200px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	}
	.btn{
	background-color: #09598E;
	width: 150px;
	height: 30px;
	border:none;
	border-radius: 10px;
	font-family: Paytone One;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: white;
	cursor: pointer;
	padding: 5px;
	}
	body{
		background-size: cover;
		min-height: 800px;

	}

}

@media  (width: 411px) and (height: 731px){
	.container{
		width:300px;
		height: 520px;
	}
	img{
		width: 120px;
		height: 50px;
	}
	input[type=text]{
	width: 200px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	}
	.btn{
	background-color: #09598E;
	width: 150px;
	height: 30px;
	border:none;
	border-radius: 10px;
	font-family: Paytone One;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: white;
	cursor: pointer;
	padding: 5px;
	}
	body{
		background-size: cover;
		min-height: 800px;
	
	}

}
@media  (width: 411px) and (height: 823px){
	.container{
		width:300px;
		height: 520px;
	}
	img{
		width: 120px;
		height: 50px;
	}
	input[type=text]{
	width: 200px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	}
	.btn{
	background-color: #09598E;
	width: 150px;
	height: 30px;
	border:none;
	border-radius: 10px;
	font-family: Paytone One;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: white;
	cursor: pointer;
	padding: 5px;
	}
	body{
		background-size: cover;
		min-height: 900px;
	
	}

}
@media  (width: 320px) and (height: 568px){
	.container{
		width:280px;
		height: 510px;
	}
	img{
		width: 120px;
		height: 50px;
	}
	input[type=text]{
	width: 200px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	}
	.btn{
	background-color: #09598E;
	width: 150px;
	height: 30px;
	border:none;
	border-radius: 10px;
	font-family: Paytone One;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: white;
	cursor: pointer;
	padding: 5px;
	}
	body{
		background-size: fill;
		min-height: 800px;
	
	}

}
@media  (width: 375px) and (height: 667px){
	.container{
		width:320px;
		height: 520px;
		margin-bottom: 150px;
	}
	img{
		width: 120px;
		height: 50px;
	}
	input[type=text]{
	width: 200px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	}
	.btn{
	background-color: #09598E;
	width: 150px;
	height: 30px;
	border:none;
	border-radius: 10px;
	font-family: Paytone One;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: white;
	cursor: pointer;
	padding: 5px;
	}
	body{
		background-size: cover;
		min-height: 800px;
	
	}

}
@media  (width: 414px) and (height: 736px){
	.container{
		width:360px;
		height: 520px;
	}
	img{
		width: 120px;
		height: 50px;
	}
	input[type=text]{
	width: 290px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	}
	.btn{
	background-color: #09598E;
	width: 200px;
	height: 40px;
	border:none;
	border-radius: 10px;
	font-family: Paytone One;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	color: white;
	cursor: pointer;
	padding: 5px;
	}
	body{
		background-size: cover;
		min-height: 800px;
	
	}

}
@media  (width: 375px) and (height: 812px){
	.container{
		width:320px;
		height: 520px;
	}
	img{
		width: 120px;
		height: 50px;
	}
	input[type=text]{
	width: 270px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	}
	.btn{
	background-color: #09598E;
	width: 200px;
	height: 40px;
	border:none;
	border-radius: 10px;
	font-family: Paytone One;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	color: white;
	cursor: pointer;
	padding: 5px;
	}
	body{
		background-size: cover;
		min-height: 900px;
	
	}

}
@media  (width: 768px) and (height: 1024px){
	.container{
		width:500px;
		height: 570px;
		margin-top: 80px;
	}
	img{
		width: 200px;
		height:90px;
	}
	input[type=text]{
	width: 290px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	}
	.btn{
	background-color: #09598E;
	width: 200px;
	height: 50px;
	border:none;
	border-radius: 10px;
	font-family: Paytone One;
	font-size: 25px;
	font-weight: normal;
	font-style: normal;
	color: white;
	cursor: pointer;
	padding: 5px;
	}
	body{
		background-size: cover;
		min-height: 1050px;
	
	}

}
@media  (width: 1024px) and (height: 1366px){
	.container{
		width:700px;
		height: 720px;
		margin-top: 120px;
	}
	img{
		width: 390px;
		height:180px;
	}
	input[type=text]{
	width: 400px;
	font-size: 25px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	}
	.btn{
	background-color: #09598E;
	width: 250px;
	height: 70px;
	border:none;
	border-radius: 10px;
	font-family: Paytone One;
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
	color: white;
	cursor: pointer;
	padding: 5px;
	}
	body{
		background-size: fill;
		min-height: 1400px;
	
	}
	p{
		font-size: 25px;
	}
}