body {
  background-image: url("https://res.cloudinary.com/cre8tcodes/image/upload/v1569275378/coins-4421639_1_2_lcp4o0.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%;
  }
}
.topsec {
position: absolute;
width: 1467px;
height: 142px;
left: -107px;
top: 0px;
background: #09598E;
}

.limg {
position: absolute;
width: 406px;
height: 134px;
left: 120px;
top: 2px;
font-family: Paytone One;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 134px;
color: #FFFFFF;
  }
.cpb{
position: absolute;
width: 960px;
height: 80px;
left: 383px;
top: 306px;
font-family: Paytone One;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 70px;
text-align: center;
color: #09598E;
text-shadow: 1px 2px #fff;
}
.bme {
position:absolute;
width: 390px;
height: 43px;
left: 838px;
top: 400px;
font-family: Paytone One;
font-style: normal;
font-weight: bolder;
font-size: 30px;
line-height: 42px;
color: #FFF;
text-shadow: 1px 3px #000; 
}
.btnlog {
position: absolute;
width: 160px;
height: 50px;
left: 800px;
top: 500px;
background: #FFFFFF;
border: 1px solid #09598E;
box-sizing: border-box;
border-radius: 90px;
font-family: Paytone One;
font-style: oblique;
font-weight: bolder;
font-size: 30px;
line-height: 42px;
color: #09598E;
 }
 
.btnsign {
position: absolute;
width: 160px;
height: 50px;
left: 1000px;
top: 500px;
background: #FFFFFF;
border: 1px solid #09598E;
box-sizing: border-box;
border-radius: 90px;
font-family: Paytone One;
font-style: oblique;
font-weight: bolder;
font-size: 30px;
line-height: 42px;
color: #09598E;
 }
