.hero {
  position: relative;
  height: 80vh;
  background: url(../../img/bghero.jpg);
  background: url(../img/bghero.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  overflow-y: hidden;

  .overlay {
    background: rgba(0, 0, 0, .6);
    height: 80vh;
  }

  .container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%, -40%, 0);
    -webkit-transform: translate3d(-50%, -40%, 0);
    -moz-transform: translate3d(-50%, -40%, 0);
    -ms-transform: translate3d(-50%, -40%, 0);
    -o-transform: translate3d(-50%, -40%, 0);

    .b-text {
      font-size: 1.8rem;
      font-weight: 300;
    }

    .display-4 {
      font-size: 3.5rem;
    }
  }
}
